<%
  require './composer_fugaku/utils.rb'
%>
---
form:
  rsc_grp:
    widget: radio
    label: Resource group
    direction: horizontal
    value: "small"
    options:
      - ["small", '#PJM -L "rscgrp=small"', disable-large_nodes, disable-large_one_dim_nodes, disable-large_two_dim_nodes, disable-large_three_dim_nodes]
      - ["large", '#PJM -L "rscgrp=large"', disable-small_nodes, disable-small_one_dim_nodes, disable-small_two_dim_nodes, disable-small_three_dim_nodes]
    
  small_nodes:
    widget: radio
    label: Node dimension
    direction: horizontal
    value: "1 dimension"
    options:
      - ["1 dimension", "", disable-small_two_dim_nodes, disable-small_three_dim_nodes, disable-node_strict ]
      - ["2 dimension", "", disable-small_one_dim_nodes, disable-small_three_dim_nodes, disable-node_strict ]
      - ["3 dimension", "", disable-small_two_dim_nodes, disable-small_one_dim_nodes ]

  small_one_dim_nodes:
    widget:  number
    required: true
    label:   Number of nodes (1 - 384)
    indent:  1
    value:   1
    min:     1
    max:     384
  
  small_two_dim_nodes:
    widget:  number
    label:   [X nodes (1 - 144), Y nodes (1 - 336)]
    required: true
    indent:  1
    size:    2
    value:   [1, 1]
    min:     [1, 1]
    max:     [144, 336]
    help: The number of nodes must be 384 or less.

  small_three_dim_nodes:
    widget:  number
    label:   [X nodes (1 - 48), Y nodes (1 - 21), Z nodes (1 - 48)]
    required: true
    indent:  1
    size:    3
    value:   [1, 1, 1]
    min:     [1, 1, 1]
    max:     [48, 21, 48]
    help: The number of nodes must be 384 or less.

  large_nodes:
    widget: radio
    label: Node dimension
    direction: horizontal
    value: "1 dimension"
    options:
      - ["1 dimension", "", disable-large_two_dim_nodes, disable-large_three_dim_nodes, disable-node_strict ]
      - ["2 dimension", "", disable-large_one_dim_nodes, disable-large_three_dim_nodes, disable-node_strict ]
      - ["3 dimension", "", disable-large_two_dim_nodes, disable-large_one_dim_nodes ]

  large_one_dim_nodes:
    widget:  number
    required: true
    label:   Number of nodes (385 - 12,288)
    indent:  1
    value:   385
    min:     385
    max:     12288

  large_two_dim_nodes:
    widget:  number
    label:   [X nodes (1 - 144), Y nodes (1 - 576)]
    required: true
    indent:  1
    size:    2
    value:   [1, 1]
    min:     [1, 1]
    max:     [144, 576]
    help: The number of nodes must be between 385 and 12,288.

  large_three_dim_nodes:
    widget:  number
    label:   [X nodes (1 - 48), Y nodes (1 - 36), Z nodes (1 - 48)]
    required: true
    indent:  1
    size:    3
    value:   [1, 1, 1]
    min:     [1, 1, 1]
    max:     [48, 36, 48]
    help: The number of nodes must be between 385 and 12,288.
    
  node_shape:
    widget: radio
    label: Node shape
    indent:  1
    value: (None)
    direction: horizontal
    options:
      - ["(None)",  ""]
      - ["torus",   ":torus"]
      - ["mesh",    ":mesh"]
      - ["noncont", ":noncont"]

  node_strict:
    widget: radio
    label: Non-rotating node assignment
    indent:  1
    value: (None)
    direction: horizontal
    options:
      - ["(None)",  ""]
      - ["strict",    ":strict"]
      - ["strict-io", ":strict-io"]

  time:
    widget:   number
    label:    [ Max run hours (0 - 24), Max run minutes (0 - 59) ]
    size:     2
    value:    [  1,  0 ]
    min:      [  0,  0 ]
    max:      [ 24, 59 ]
    step:     [  1,  1 ]
    
  proc_thread:
    widget: number
    size: 2
    label: [Processes, Threads (1-48)]
    value: [1, 48]
    min: [1, 1]
    max: ["", 48]

  path:
    widget: path
    label: File

  show_advanced_options:
    widget: checkbox
    options:
      - [ 'Show advanced option', '', show-statistics, show-bulk, show-gfscache, show-llio, show-use_spack ]

  bulk:
    widget: number
    label: [Start bulk number, End bulk number]
    indent: 1
    size: 2
    min: [0, 0]
    max: [999999, 999999]
    
  statistics:
    widget: radio
    label: Output statistics information
    indent: 1
    value: (None)
    options:
      - ["(None)",  "", disable-pathname]
      - ["Outputs the statistics of the submitted job", "-s"]
      - ["Outputs information about the submitted job on a per-node basis", "-S"]

  pathname:
    widget: text
    label: Statistics file name
    indent: 2

  gfscache:
    widget: checkbox
    label: Volume of data area
    separator: ":"
    direction: horizontal
    indent: 1
    options:
      - ["/vol0002", "/vol0002"]
      - ["/vol0003", "/vol0003"]
      - ["/vol0004", "/vol0004"]
      - ["/vol0005", "/vol0005"]
      - ["/vol0006", "/vol0006"]
    help: "If you use spack, you may need /vol0004."

  llio:
    widget: checkbox
    indent: 1
    options:
      - [ "Use LLIO", '# LLIO transfer', enable-llio_target, enable-llio_file, enable-llio_dir, enable-llio_cn, enable-llio_tmp, enable-llio_async, enable-llio_libp ]
    help: To reduce I/O load, the targets are transferred to the cache area by LLIO. Enabling this feature is required when using more than 7,000 nodes or 28,000 processes (Refer to <a target="_blank" href="https://www.fugaku.r-ccs.riken.jp/doc_root/en/user_guides/use_latest/LayeredStorageAndLLIO/index.html">English</a> or <a target="_blank" href="https://www.fugaku.r-ccs.riken.jp/doc_root/ja/user_guides/use_latest/LayeredStorageAndLLIO/index.html">Japanese</a> for details).

  llio_target:
    label: LLIO target
    indent: 2
    widget: radio
    direction: horizontal
    value: File
    options:
      - ["File", "/usr/bin/llio_transfer", enable-llio_file]
      - ["Directory", "/home/system/tool/dir_transfer", enable-llio_dir]

  llio_file:
    widget: path
    indent: 2
    label: File transferred by LLIO
    value: <%= default_dir() %>
    show_files: true
    <%= favorites() %>

  llio_dir:
    widget: path
    indent: 2
    label: Directory transferred by LLIO
    value: <%= default_dir() %>
    show_files: false
    <%= favorites() %>
    
  llio_cn:
    widget: select
    indent: 2
    label: LLIO Cache Size (Default is 128MiB)
    value: 128Mi
    options:
      - [ "off" ]
      - [ 128Mi ]
<% (1..28).each do |i| %>
      - [ <%= i %>Gi ]
<% end %>
    help: If your job has sufficient memory usage, you can improve I/O performance by increasing the cache size (Refer to <a target="_blank" href="https://fugaku.zendesk.com/hc/en-us/articles/13074859964815-Improving-File-I-O-Performance-with-LLIO">English</a> or <a target="_blank" href="https://fugaku.zendesk.com/hc/ja/articles/13074859964815-LLIO機能を用いてファイルI-O性能を改善する">Japanese</a> for details).

  llio_tmp:
    widget: checkbox
    indent: 2
    options:
      - [ "Use node temporary area", "export TMPDIR=$PJM_LOCALTMP", enable-llio_tmp_size ]
    help: I/O performance can be improved by using the node temporary area ($PJM_LOCALTMP), a temporary area of LLIO, as the output destination for temporary files.

  llio_tmp_size:
    widget: number
    indent: 2
    label: Node temporary area size for temporary files (1 - 80 GiB)
    value: 1
    min: 1
    max: 80
    step: 1

  llio_async:
    widget: checkbox
    indent: 2
    options:
      - ["Use async option", "#PJM --llio async-close=on"]
    help: When writing to a file, the close() function typically does not return until the data write is complete. However, by enabling the LLIO asynchronous close function (async-close=on), processing can proceed to the next step without waiting for the write to LLIO to complete.

  llio_libp:
    widget: checkbox
    indent: 2
    options:
      - ["Trasnfer LD_LIBRARY_PATH", "/home/system/tool/sort_libp -s -a"]
    help: Transfer all files under each directory specified in LD_LIBRARY_PATH to LLIO as common files (Refer to <a target="_blank" href="https://www.fugaku.r-ccs.riken.jp/doc_root/en/user_guides/use_latest/JobExecution/EnvironmentSettings.html#sort-libp">English</a> or <a target="_blank" href="https://www.fugaku.r-ccs.riken.jp/doc_root/ja/user_guides/use_latest/JobExecution/EnvironmentSettings.html#sort-libp">Japanese</a> for details).

  use_spack:
    widget: checkbox
    indent: 1
    options:
      - [ "Use spack", "# Load modules\n. /vol0004/apps/oss/spack/share/spack/setup-env.sh", enable-spack_modules, set-value-gfscache: /vol0004 ]

  # spack find --format '{name}@{version}/{hash:7}' platform=linux os=rhel8 target=a64fx | awk '{print "      - [ "$1", "$1" ]"}'
  spack_modules:
    widget: multi_select
    separator: " "
    label: Select spack modules
    indent: 2
    options:
<% File.foreach("./composer_fugaku/Fujitsu_TCS/spack_list.txt") do |line| %>
      - [<%= line %>]
<% end %>
header:
<%= header() %>

script: |
  #!/bin/bash
  #{rsc_grp}
  #PJM -L "node=#{small_one_dim_nodes}#{:node_shape}"
  #PJM -L "node=#{small_two_dim_nodes_1}x#{small_two_dim_nodes_2}#{:node_shape}"
  #PJM -L "node=#{small_three_dim_nodes_1}x#{small_three_dim_nodes_2}x#{small_three_dim_nodes_3}#{:node_shape}#{:node_strict}"
  #PJM -L "node=#{large_one_dim_nodes}#{:node_shape}"
  #PJM -L "node=#{large_two_dim_nodes_1}x#{large_two_dim_nodes_2}#{:node_shape}"
  #PJM -L "node=#{large_three_dim_nodes_1}x#{large_three_dim_nodes_2}x#{large_three_dim_nodes_3}#{:node_shape}#{:node_strict}"
  #PJM -L "elapse=#{time_1}:#{zeropadding(time_2, 2)}:00"
  #PJM --mpi "proc=#{proc_thread_1}"
  #PJM --bulk --sparam #{bulk_1}-#{bulk_2}
  #PJM #{statistics}
  #PJM --pathname #{pathname}
  #PJM -x PJM_LLIO_GFSCACHE=#{gfscache}
  #PJM --llio cn-cache-size=#{llio_cn}
  #PJM --llio localtmp-size=#{llio_tmp_size}Gi
  #{llio_async}
  set -e
  
  #{use_spack}
  spack load #{spack_modules}
  export OMP_NUM_THREADS=#{proc_thread_2}
  #{llio_tmp}
 
  #{llio}
  #{llio_libp}
  #{llio_target} #{llio_file}
  #{llio_target} #{llio_dir}
  #{path}

submit: |
  OC_SUBMIT_OPTIONS='--no-check-directory'
